$orange: hsl(26, 100%, 55%);
$light-orange: hsl(25, 100%, 94%);

$light-gray-100: hsl(0, 0%, 100%);
$light-gray-200: hsl(223, 64%, 98%);
$light-gray-300: hsl(220, 14%, 75%);
$light-gray-400: hsl(219, 9%, 45%);

$gray-500: hsl(220, 13%, 13%);
$black: hsl(0, 0%, 0%);
