:root {
  --ff: "Spartan", sans-serif;
  --magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);

  --white: hsl(0, 0%, 100%);
  --gray-100: hsl(300, 24%, 96%);
  --gray-200: hsl(303, 10%, 53%);

  --bg-top-mobile: url("./images/bg-pattern-top-mobile.svg");
  --bg-bottom-mobile: url("./images/bg-pattern-bottom-mobile.svg");

  --bg-top-desktop: url("images/bg-pattern-top-desktop.svg");
  --bg-bottom-desktop: url("images/bg-pattern-bottom-desktop.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  background: var(--bg-top-mobile), var(--bg-bottom-mobile);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, right bottom;
  background-size: contain, contain;
  min-height: 100vh;
}

header {
  margin-top: 3em;
}

header section h1 {
  color: var(--magenta);
  font-weight: 700;
  padding: 0 3em;
  text-align: center;
}

header section p {
  text-align: center;
  color: var(--gray-200);
  font-weight: 400;
  font-size: 15px;
  margin: 1em;
}

.ratings {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gray-100);
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1em;
}

.rating .stars {
  display: flex;
  flex-direction: row;
}

.rating .stars .star {
  background-image: url("images/icon-star.svg");
  height: 15px;
  width: 15px;
  margin: 0 5px;
}

.rating > span {
  padding-top: 1em;
  font-weight: 700;
  color: var(--magenta);
}

.reviews {
  margin: 0 1.5em 3em;
}

.review {
  background-color: var(--magenta);
  color: var(--white);
  font-size: 14px;
  margin-top: 1em;
  border-radius: 0.5em;
  padding: 2.5em 1.5em;
}

.review .customer {
  display: flex;
  align-items: center;
}

.review .customer .image img {
  border-radius: 50%;
  width: 3em;
}

.review .customer .details {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}

.review .customer .details .name {
  font-weight: 500;
}
.review .customer .details .status {
  font-weight: 400;
  padding-top: 5px;
  color: var(--pink);
}

.review > p {
  color: var(--gray-100);
  margin-top: 1.5em;
}

@media (min-width: 1100px) {
  body {
    background: var(--bg-top-desktop), var(--bg-bottom-desktop);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right bottom;
    background-size: 30%, 100%;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin: 5em;
  }
  header section {
    text-align: left;
    width: 40vw;
  }
  header section h1 {
    padding: 0;
    font-size: 2.5em;
    width: 10em;
    text-align: left;
  }
  header section p {
    text-align: left;
    margin: 1em 0;
    font-weight: 500;
    font-size: 15px;
  }

  .ratings {
    margin: 0;
  }
  .rating {
    flex-direction: row;
    margin: 0;
    padding: 1em;
    width: 30em;
  }
  .rating:nth-of-type(2) {
    margin: 1em 2em 0;
  }
  .rating:nth-of-type(3) {
    margin: 1em 5em 0;
  }
  .rating span {
    padding: 0;
    margin-left: 1em;
    font-size: 15px;
  }

  .reviews {
    display: flex;
    justify-content: space-around;
    margin: 1em 5em;
  }
  .review {
    margin: 0 1em;
    min-height: 15em;
  }
  .review:nth-of-type(2) {
    margin-top: 1.5em;
  }
  .review:nth-of-type(3) {
    margin-top: 3em;
  }
}
