@use "../abstracts" as *;

body {
  font-family: $default-ff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: $clr-black-50;
  &:hover {
    color: $clr-black-75;
  }
}
