$bp-620-down: "only screen and (max-width: 620px)";
$bp-620-up: "only screen and (min-width: 620px)";

$bp-760-down: "only screen and (max-width: 759px)";
$bp-760-up: "only screen and (min-width: 760px)";

$bp-900-down: "only screen and (max-width: 899px)";
$bp-900-up: "only screen and (min-width: 900px)";

$bp-1000-down: "only screen and (max-width: 999px)";
$bp-1000-up: " (min-width: 1000px)";

$bp-1180-up: "only screen and (min-width: 1180px)";

$bp-1400-up: "only screen and (min-width: 1400px)";
